.container {
  max-width: 877px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.img-border {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.space-evenly {
  justify-content: space-evenly;
}

.header-margin {
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-family: Lato, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 31px;
}

h3 {
  font-family: Lato, sans-serif;
  color: white;
  font-weight: 300;
}

p {
  font-family: Lato, sans-serif;
  color: white;
  font-weight: 80;
  line-height: 1.5em;
}

.column-middle {
  margin-right: 81px;
  margin-left: 81px;
}

body {
  background-color: #0096c7;
}

img {
  width: 50%;
}
